.about-us, .blog {
 .block {
  padding-right: 0;

    .btn {
      display: block;
      margin: 30px auto 0;
      @include MQ-range-from($M) {
        margin: 30px 0;
      }
    }
  }
  .medium-6  {
    align-self: center;
  }
}

.wave-bg {
  background: url(../images/wave.png) no-repeat center;
}

.desc {
  padding: 25px 0 0;
}

.wave {
  &::after {
    content: "";
    background: url(../images/wave.png) no-repeat;
    width: 80px;
    height: 30px;
    display: block;
    margin: 40px auto 0;

    @include MQ-range-from($M) {
      margin: 80px auto 0;
    }
  }
}

.sun {
  display: none;
  position: absolute;
  right: -200px;
  top: -150px;
  overflow: hidden;
  z-index: -1;
  width: inherit;
  @include MQ-range-from($M) {
    display: block;
  }
}

//About us page

.contact__items {
  margin-bottom: 30px;

  .contact__item {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    color: $color-grey;
  }

  .contact__value{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: $color-grey;
    vertical-align: top;

    i {
      color: rgb(62,76,77);
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

.form {
  max-width: 1080px;
  padding: 0 20px;

  @include MQ-range-from($L) {
    padding: 0;
  }
  .grid {
    justify-content: flex-end;
  }
  .block--right {
    margin: 20px 0;
    text-align: right;

    @include MQ-range-from($L) {
      margin: 20px 80px 0 0;
    }
  }
}

.form__group{
  padding:10px;
  border:1px solid $color-grey-mix;
  margin-top:10px;
  position: relative;
  margin-bottom: 20px;

  label {
    position:absolute;
    top: -10px;
    left: 10px;
    text-transform: uppercase;
    padding: 0 10px;
    background-color:$color-light-grey;
    color: $color-grey-mix;
    font-size: 12px;
  }

  input, textarea {
    border: none;
    width: 100%;
    background-color: $color-light-grey!important;
    outline: none;
    height: 40px;
    padding: 10px;
  }

  textarea {
   height: 120px;
  }
}
