$color-white: #fff;
$color-black: #000;
$color-red: #f54332;
$color-blue: #328bf5;
$color-light-grey: #f6f5fb;
$color-grey: #3e4c4d;
$color-middle-grey: #aeb6bc;
$color-dark-grey: #333;
$color-yellow: #f5d02f;
$color-turquoise:#3bc0c3;
$color-grey-mix: #3d4a4c;
